{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about_sm_2 }}
    {{ if .enable }}
    {{ "<!-- About Section Start -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about_sm_2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                {{ with .title }}
                    <h2>{{ . }}</h2>
                {{ end }}
            </div>
            <div class="col-12 col-md-7">
                {{ with .description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{"<!-- About section End -->" | safeHTML}}
{{ end }}
{{ end }}
