{{ $data := index .Site.Data .Site.Language.Lang }}

    {{ if $data.partners.enable }}
    {{ "<!-- Start Application Section -->" | safeHTML }}
    <section class="portfolio section" id="partners">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with $data.partners.topTitle }}
                            <h4>{{ . }}</h4>
                        {{ end }}
                        {{ with $data.partners.title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with $data.partners.subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-filter">
                        <button type="button" data-filter="all">All</button>
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                            <button type="button" data-filter=".{{ $name }}">{{ $name }}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row portfolio-items-wrapper">
                {{ range .Pages }}
                    <div class="col-6 col-md-4 padding-10 mix {{ range .Params.categories }} {{ . }} {{ end }}">
                        <div class="portfolio-block">
                            <img class="img-fluid" src="{{ .Params.logo | absURL }}" alt="{{ .Title }}">
                            <div class="caption">
                                <h4>
                                    <a href="{{.Permalink}}">{{ .Title }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
        <!-- end row -->
    </section>
    {{ "<!-- End section -->" | safeHTML }}

{{ end }}
