{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.service_definition }}
    {{ if .enable }}
    {{ "<!-- Service Definition Section Start -->" | safeHTML }}

    {{ range .item }}
    {{ if .enable }}
    {{ if .background }}
    <section class="service-list section bg-gray" id="{{ .name }}">
    {{ else }}
    <section class="service-list section bg-white" id="{{ .name }}">
    {{ end }}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .Title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
                        {{ with .topSubtitle }}<p>{{.}}</p>{{ end }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    {{ with .image }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" alt="service-image"/>{{ end }}

                </div>
                <div class="col-md-6 align-self-center">
                    {{ with .title }}<h2>{{.}}</h2>{{ end }}
                    {{ with .description }}<p>{{.}}</p>{{ end }}
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="color-gray client-service-list list-unstyled">
                                {{ range .servicelist }}
                                <li>
                                    <i class="tf-ion-android-checkbox-outline"></i> {{ .item }}
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row section">
                {{ range .item }}
                <div class="col-md-4">
                    <div class="block">
                        {{ with .icon }}<i class="{{.}}"></i>{{ end }}
                        {{ with .title }}<h3>{{.}}</h3>{{ end }}
                        <ul class="list-unstyled">
                            {{ range .list }}
                            <li>{{.name}}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>

        </div>
    </section>

    {{ end }}
    {{ end }}

    {{ "<!-- Section End -->" | safeHTML }}
    {{ end }}
{{ end }}
